@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/Kaushan_Script/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    url("../fonts/Kaushan_Script/kaushan-script-v8-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Robotolightitalic.woff2") format("woff2"),
    url("../fonts/Roboto/Robotolightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
