$sub-title-font: "Kaushan Script";

$title-font: "Montserrat";

$main-font: "Roboto";

$gr_ll: #e7e7e7;

$background: #95e1d3;

$main_color: #999999;

$alt_color: #ffffff;

$main-title-color: #333333;

$main-title-after: #f38181;

$first_gradient: #fce38ae6;

$end__gradient: #f38181e6;

$icon-color: #f38181;

$background-icon-color_and_nav-hover: #fce38a;

$box__shadow-color: #4add87;
