
.flex_box {
display: flex;
justify-content: space-between;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
h2,p {
    margin: 0;
}

header {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;    
}
.head {
    padding-bottom: 50px;
}
.site_logo {
    font-size: 30px;
    font-weight: 600;
    color: #95e1d3;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.nav_links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    width: 50%;
}

h2 {
    font-family: 'Courgette', cursive, sans-serif;
    font-size: 24px;
}
.name_section {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.name_section::after {
    content: "";
    display: block;
    height: 5px;
    width: 65px;
    border-radius: 4px;
    background-color: #f38181;
    margin: 45px auto;
   

}
.navigation_list_item {
    text-transform: uppercase;
}

.navigation_list_item a{
    display: block;
    color: #95e1d3;
}

.navigation_list_item::after {
    content: "";
    display: block;
    margin-top: 0;
    height: 3px;
    border-radius: 6px;
    background-color: transparent;
    width: 100%;
}
.navigation_list_item:hover::after {
    background-color: #f38181;
    transform: translateY(20px);
    transition: 200ms;
    width: 100%;
}
.services {
    width: 1182px;
    margin: 0 auto;
}
.service_type {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
}
.services_description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
}
.headers_text {
 text-align: center;
 padding-bottom: 100px;
}
.serv_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services_list-item {
    width: 350px;
}
.article {
    padding-left: 60px;
    padding-bottom: 50px;
}

.alarm {
    background-image: url(../img/ALARM.png);
    background-repeat: no-repeat;
}
.graph {
    background-image: url(../img/LINE\ GRAPH.png);
    background-repeat: no-repeat;
}
.computer {
    background-image: url(../img/COMPUTER\ _\ OK.png);
    background-repeat: no-repeat;
}
.book {
    background-image: url(../img/BOOK\ 2.png);
    background-repeat: no-repeat;
}
.home {
    background-image: url(../img/HOME.png);
    background-repeat: no-repeat;
}
.image {
    background-image: url(../img/IMAGE.png);
    background-repeat: no-repeat;
}
.team {
    margin-top: 100px;
    padding-bottom: 200px;
}

.team_heading {
    font-family: 'Roboto' , sans-serif;
    font-size: 15px;
    color: #999999;
    margin: 15px 118px;

}
.team_people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.people_name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    padding-top: 30px;
    padding-bottom: 20px;
}
.team_position {
    font-family: 'Roboto' , sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #999999;

}

.window {
    display: flex;
    width: 100%;
    height: 470px;
    position: absolute;
    background: linear-gradient(to bottom, #ef8c8abe, #e5cf81b9);
    opacity: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.social_box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team_list_item {
    position: relative;
    height: 470px;
}
.team_list_item:hover .window{
    opacity: 1;
    transform: translateX(-12px) translateY(-12px);
    transition: 200ms;
    
}
.team_list_item:hover img {
    transform: translateX(-12px) translateY(-12px);
    transition: 200ms;
}
.team_list_item:hover{
    background-color: #95e1d3;
    height: 470px;
}
.qwerty:hover {
    background-color: #95e1d3;
}

.qwerty{  
    height: 50px;
    width: 50px;
    background-color: #fce38a;
    margin: 1px;
}
.icons {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: center;
    background-repeat: no-repeat;
}
.facebook {
    background-image: url(../img/facebook.png);
   
}
.twitter {
    background-image: url(../img/twitter.png);
}
.pinterest {
    background-image: url(../img/pinterest.png);
}
.instagram {
    background-image: url(../img/instagram.png);
}

footer {
    height: 50px;   
    display: block;
    border-top: 1px solid #999999;
    display: flex;
    justify-content: space-between;
    padding: 12px 0 12px;
    align-items: center;
    
}

.footer_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

::placeholder {
    text-align: center;
}

input {
    width: 228px;
    padding: 0;
    border: 1px solid #999999;
    font-family: 'Roboto' , sans-serif;
    font-style: italic;
    font-size: 15px;
}

.footer_form {
    display: flex;  
    height: 100%;
}

.subsribe_button {
    border: 0;
    width: 150px;
    background-color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;

}

