.header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 26px 0 74px;
  }

  &__logo {
    font-family: $title-font, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: $alt_color;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;
    list-style: none;
    width: 620px;
    padding-top: 14px;
  }

  &__list-item-svg {
    fill: $alt_color;
    width: 18px;
    height: 14px;

    &:hover {
      color: $background-icon-color_and_nav-hover;
      fill: $background-icon-color_and_nav-hover;
    }
  }

  &__link {
    color: $alt_color;
    font-family: $title-font;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__list-item {

    &:hover a {
      color: $background-icon-color_and_nav-hover;
      fill: $background-icon-color_and_nav-hover;
    }

    &::after {
      display: block;
      background-color: $background-icon-color_and_nav-hover;
      height: 4px;
      margin: 10px auto 0;
      opacity: 0;
      content: "";
    }

    &:hover::after {
      content: "";
      opacity: 1;
    }
  }
}
